In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("census.csv")

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1    workclass       32561 non-null  object
 2    fnlgt           32561 non-null  int64
 3    education       32561 non-null  object
 4    education-num   32561 non-null  int64
 5    marital-status  32561 non-null  object
 6    occupation      32561 non-null  object
 7    relationship    32561 non-null  object
 8    race            32561 non-null  object
 9    sex             32561 non-null  object
 10   capital-gain    32561 non-null  int64
 11   capital-loss    32561 non-null  int64
 12   hours-per-week  32561 non-null  int64
 13   native-country  32561 non-null  object
 14   salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [132]:
df.columns = df.columns.str.strip()

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlgt           32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [134]:
df.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [135]:
print(df.workclass.unique())

[' State-gov' ' Self-emp-not-inc' ' Private' ' Federal-gov' ' Local-gov'
 ' ?' ' Self-emp-inc' ' Without-pay' ' Never-worked']

In [136]:
df.fnlgt.unique()

array([ 77516,  83311, 215646, ...,  34066,  84661, 257302])

In [137]:
df_obj = df.select_dtypes("object")

In [138]:
df_obj.columns

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'native-country', 'salary'],
      dtype='object')

In [139]:
for col in df_obj.columns:
    print(col, df.loc[:, col].unique())

workclass [' State-gov' ' Self-emp-not-inc' ' Private' ' Federal-gov' ' Local-gov'
 ' ?' ' Self-emp-inc' ' Without-pay' ' Never-worked']
education [' Bachelors' ' HS-grad' ' 11th' ' Masters' ' 9th' ' Some-college'
 ' Assoc-acdm' ' Assoc-voc' ' 7th-8th' ' Doctorate' ' Prof-school'
 ' 5th-6th' ' 10th' ' 1st-4th' ' Preschool' ' 12th']
marital-status [' Never-married' ' Married-civ-spouse' ' Divorced'
 ' Married-spouse-absent' ' Separated' ' Married-AF-spouse' ' Widowed']
occupation [' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Craft-repair' ' Transport-moving'
 ' Farming-fishing' ' Machine-op-inspct' ' Tech-support' ' ?'
 ' Protective-serv' ' Armed-Forces' ' Priv-house-serv']
relationship [' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']
race [' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other']
sex [' Male' ' Female']
native-country [' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands']
salary [' <=50K' ' >50K']

In [140]:
df.loc[:, "workclass"].str.strip().unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [141]:
for col in df_obj.columns:
    df.loc[:, col] = df.loc[:, col].str.strip()

In [142]:
for col in df_obj.columns:
    print(col, df.loc[:, col].unique())

workclass ['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov' '?'
 'Self-emp-inc' 'Without-pay' 'Never-worked']
education ['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th']
marital-status ['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed']
occupation ['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Craft-repair' 'Transport-moving'
 'Farming-fishing' 'Machine-op-inspct' 'Tech-support' '?'
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv']
relationship ['Not-in-family' 'Husband' 'Wife' 'Own-child' 'Unmarried' 'Other-relative']
race ['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']
sex ['Male' 'Female']
native-country ['United-States' 'Cuba' 'Jamaica' 'India' '?' 'Mexico' 'South'
 'Puerto-Rico' 'Honduras' 'England' 'Canada' 'Germany' 'Iran'
 'Philippines' 'Italy' 'Poland' 'Columbia' 'Cambodia' 'Thailand' 'Ecuador'
 'Laos' 'Taiwan' 'Haiti' 'Portugal' 'Dominican-Republic' 'El-Salvador'
 'France' 'Guatemala' 'China' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland' 'Hungary' 'Holand-Netherlands']
salary ['<=50K' '>50K']

In [148]:
df.workclass.replace('?', None)

0               State-gov
1        Self-emp-not-inc
2                 Private
3                 Private
4                 Private
               ...
32556             Private
32557             Private
32558             Private
32559             Private
32560        Self-emp-inc
Name: workclass, Length: 32561, dtype: object

In [149]:
for col in df_obj.columns:
    df.loc[:, col] = df.loc[:, col].replace('?', None)

In [152]:
df.isnull().sum()

age                  0
workclass         1836
fnlgt                0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
salary               0
dtype: int64

In [153]:
df = df.dropna().reset_index(drop=True)

In [154]:
#df.to_csv("census_clean.csv", index=False)

In [155]:
df

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30157,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30158,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30159,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30160,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30161,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

# inference

In [2]:
import pandas as pd
from salary_predictor.ml.data import process_data
from salary_predictor.ml.model import inference, load_model

In [105]:
df = pd.read_csv("census_clean.csv")

In [116]:
df.sample().to_dict()

{'age': {5014: 37},
 'workclass': {5014: 'Self-emp-not-inc'},
 'fnlgt': {5014: 241306},
 'education': {5014: 'HS-grad'},
 'education-num': {5014: 9},
 'marital-status': {5014: 'Divorced'},
 'occupation': {5014: 'Craft-repair'},
 'relationship': {5014: 'Not-in-family'},
 'race': {5014: 'White'},
 'sex': {5014: 'Male'},
 'capital-gain': {5014: 0},
 'capital-loss': {5014: 0},
 'hours-per-week': {5014: 40},
 'native-country': {5014: 'United-States'},
 'salary': {5014: '<=50K'}}

In [20]:
model = load_model("../model/logreg.pkl")
encoder = load_model("../model/logreg_encoder.pkl")
label_binarizer = load_model("../model/logreg_lb.pkl")
cat_features = [
        "workclass",
        "education",
        "marital-status",
        "occupation",
        "relationship",
        "race",
        "sex",
        "native-country",
    ]

In [5]:
data = {'age': 36,
 'workclass': 'Federal-gov',
 'fnlgt': 192443,
 'education':'Some-college',
 'education-num': 10,
 'marital-status': 'Never-married',
 'occupation': 'Exec-managerial',
 'relationship': 'Not-in-family',
 'race': 'Black',
 'sex': 'Male',
 'capital-gain': 13550,
 'capital-loss': 0,
 'hours-per-week': 40,
 'native-country': 'United-States'}

# 'salary': {18126: '>50K'}}

In [109]:
df.sample().to_dict()

{'age': {23774: 53},
 'workclass': {23774: 'Local-gov'},
 'fnlgt': {23774: 248834},
 'education': {23774: 'Bachelors'},
 'education-num': {23774: 13},
 'marital-status': {23774: 'Married-civ-spouse'},
 'occupation': {23774: 'Prof-specialty'},
 'relationship': {23774: 'Wife'},
 'race': {23774: 'White'},
 'sex': {23774: 'Female'},
 'capital-gain': {23774: 0},
 'capital-loss': {23774: 0},
 'hours-per-week': {23774: 50},
 'native-country': {23774: 'United-States'},
 'salary': {23774: '>50K'}}

In [6]:
import sys
sys.path.append("..")

import json
from fastapi.testclient import TestClient

In [17]:
import salary_predictor

In [22]:
from pathlib import Path
import os
os.path.join(Path(salary_predictor.__file__).parent.parent, "model")

'/Users/muradbozik/Downloads/Udacity_MLOps/C3-Deploying a Scalable ML Pipeline in Production/project3/model'

In [35]:
%load_ext autoreload
%autoreload 2

from main import app

client = TestClient(app)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
response = client.get("/")
response.status_code

200

In [26]:
response.json()

{'message': 'Welcome to salary predictor API!'}

In [117]:
sample_input = {'age': 53,
                'workclass': 'Local-gov',
                'fnlgt': 248834,
                'education': 'Bachelors',
                'education-num': 13,
                'marital-status': 'Married-civ-spouse',
                'occupation': 'Prof-specialty',
                'relationship': 'Wife',
                'race': 'White',
                'capital-loss': 0,
                'hours-per-week': 50,
                'native-country': 'United-States',
                }

In [90]:
df = pd.DataFrame.from_dict({k:[v] for k,v in data.items()})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             1 non-null      int64
 1   workclass       1 non-null      object
 2   fnlgt           1 non-null      int64
 3   education       1 non-null      object
 4   education-num   1 non-null      int64
 5   marital-status  1 non-null      object
 6   occupation      1 non-null      object
 7   relationship    1 non-null      object
 8   race            1 non-null      object
 9   sex             1 non-null      object
 10  capital-gain    1 non-null      int64
 11  capital-loss    1 non-null      int64
 12  hours-per-week  1 non-null      int64
 13  native-country  1 non-null      object
dtypes: int64(6), object(8)
memory usage: 240.0+ bytes

In [58]:
pd.DataFrame.from_dict({0:data}).T.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 0 to 0
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             1 non-null      object
 1   capital-gain    1 non-null      object
 2   capital-loss    1 non-null      object
 3   education       1 non-null      object
 4   education-num   1 non-null      object
 5   fnlgt           1 non-null      object
 6   hours-per-week  1 non-null      object
 7   marital-status  1 non-null      object
 8   native-country  1 non-null      object
 9   occupation      1 non-null      object
 10  race            1 non-null      object
 11  relationship    1 non-null      object
 12  sex             1 non-null      object
 13  workclass       1 non-null      object
dtypes: object(14)
memory usage: 120.0+ bytes

In [120]:
dj = json.dumps(sample_input)
dj

'{"age": 53, "workclass": "Local-gov", "fnlgt": 248834, "education": "Bachelors", "education-num": 13, "marital-status": "Married-civ-spouse", "occupation": "Prof-specialty", "relationship": "Wife", "race": "White", "capital-loss": 0, "hours-per-week": 50, "native-country": "United-States"}'

In [119]:
df.select_dtypes("object").columns.to_list()

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native-country',
 'salary']

In [89]:
dict(dj)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [131]:
res = client.post('/predict_salary', data=dj)
res.content

b'{"detail":[{"loc":["body","sex"],"msg":"field required","type":"value_error.missing"},{"loc":["body","capital-gain"],"msg":"field required","type":"value_error.missing"}]}'

In [128]:
res.json()['detail'][0]['type

True

In [23]:
X_raw_df = pd.DataFrame.from_dict({0:data}).T
X_raw_df

,age,capital-gain,capital-loss,education,education-num,fnlgt,hours-per-week,marital-status,native-country,occupation,race,relationship,sex,workclass
0,36,13550,0,Some-college,10,192443,40,Never-married,United-States,Exec-managerial,Black,Not-in-family,Male,Federal-gov

In [94]:
x, _,_,_ = process_data(X=df,
            training=False, 
            encoder=encoder,  
            lb=label_binarizer)
x

array([[3.60000e+01, 1.92443e+05, 1.00000e+01, 1.35500e+04, 0.00000e+00,
        4.00000e+01, 0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00]])

In [ ]:
X_raw = await data.json()
        X_raw_df = pd.DataFrame([X_raw])
        X_processed, _, _, _ = process_data(X=X_raw_df, y=None, 
                                            categorical_features=cat_features, 
                                            training=False, 
                                            encoder=encoder,  
                                            lb=label_binarizer)
        prediction = inference(model=model, X=X_processed)

In [97]:
inference(model=model, X=x)[0]

1